/TechnicoCommercialJEE-REST/TechnicoCommercialJEE-REST-ejb/target/
/TechnicoCommercialJEE-REST/TechnicoCommercialJEE-REST-web/target/
/TechnicoCommercialJEE-REST/TechnicoCommercialJEE-REST-ear/target/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/